*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-very-dark-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
  --color-dark-green: hsl(169, 31%, 40%);
  --color-white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 1%;
  background-color: var(--color-light-grayish-blue);
  font-family: 'Manrope', sans-serif;
  font-size: min(1.3rem, calc(1rem + 0.8vw));
  font-weight: 500;
  letter-spacing: 0.12px;
  line-height: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----- Share Button ----- */
button.share-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  img.share-icon {
    width: 15px;
    height: 13px;
  }

  &:hover {
    outline: 3px solid var(--color-dark-green);
  }
}

/* ========================== */
/* ====== MOBILE FIRST ====== */
/* ========================== */

/* -- article container [mobile] -- */
article.container {
  min-width: 327px;
  max-width: 730px;
  margin: 0 2.4em;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  /* -- article image [mobile] -- */
  div.image {
    width: 100%;
    min-width: 327px;
    aspect-ratio: 3.35/2;

    img.furniture {
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
      object-position: center -16px;
    }
  }

  /* -- article content [mobile] -- */
  div.content {
    max-width: 100%;
    padding: 8% 10% 6%;

    h1.content-title {
      margin: 0 auto 1em;
      color: var(--color-very-dark-blue);
      font-size: min(2.2rem, calc(1rem + 1.5vw));
      font-weight: 700;
      line-height: 2.4rem;
    }

    p.content-text {
      margin: 0 auto 3em;
      color: var(--color-desaturated-dark-blue);
      font-size: min(1.5rem, calc(1rem + 0.9vw));
      letter-spacing: 0.12px;
    }

    /* -- content author [mobile] -- */
    section.content-author {
      display: flex;
      align-items: center;

      img.author-avatar {
        width: 4rem;
        height: 4rem;
        margin-right: 1.6em;
        border-radius: 50%;
      }

      /* -- author details [mobile] -- */
      div.author-details {
        h3.author-name {
          color: var(--color-very-dark-blue);
          font-size: 'inherit';
          font-weight: 700;
        }

        p.publish-date {
          color: var(--color-grayish-blue);
        }
      }

      button.share-btn#details-inactive-share {
        margin-left: auto;
        margin-right: 0;
        background-color: var(--color-light-grayish-blue);
      }

      button.share-btn#details-active-share {
        display: none;
      }
    }
  }

  /* -- share links [mobile] -- */
  section.share-links {
    width: 100%;
    height: max(64px, calc(60px + 5vw));

    margin-top: min(-64px, calc(-64px - 2vw));
    border-radius: 0 0 10px 10px;
    background-color: var(--color-very-dark-blue);

    display: none;
    justify-content: start;
    align-items: center;

    h3.share-title {
      margin-left: 10%;
      margin-right: 5%;
      color: var(--color-grayish-blue);
      font-size: inherit;
      font-weight: 500;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    a.social-icon {
      margin-right: 5%;
      border: none;
      background-color: transparent;
      color: var(--color-white);

      &:hover {
        opacity: 0.7;
      }
    }

    button.share-btn#links-active-share {
      background-color: var(--color-desaturated-dark-blue);
      margin-left: auto;
      margin-right: 10%;
    }
  }
}

/* ======== footer ======== */
footer.attribution {
  margin-top: 1.5em;
  font-size: 1.1rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

/* ========================== */
/* ===== DESKTOP SECOND ===== */
/* ========================== */

@media screen and (min-width: 960px) {
  /* -- article container [desktop] -- */
  article.container {
    position: relative;
    min-width: 730px;
    max-width: 830px;
    height: 280px;
    flex-direction: row;

    /* -- article image [desktop] -- */
    div.image {
      min-width: unset;
      aspect-ratio: unset;
      width: 285px;
      height: 100%;

      img.furniture {
        border-radius: 10px 0 0 10px;
        object-position: left;
      }
    }

    /* -- article content [desktop] -- */
    div.content {
      max-width: unset;
      width: calc(100% - 285px);
      height: 100%;
      padding: 4% 5.5%;

      h1.content-title {
        margin: 0 0 0.6em;
        font-size: min(2.2rem, calc(1.4rem + 0.9vw));
        line-height: 2.8rem;
      }

      p.content-text {
        margin: 0 0 1.5em;
        font-size: min(1.5rem, calc(0.9rem + 0.6vw));
      }

      /* -- content author [desktop] -- */
      section.content-author {
        display: flex;

        img.author-avatar {
          width: 4.5rem;
          height: 4.5rem;
          margin-right: 1.25em;
        }

        /* -- author details [desktop] -- */
        div.author-details {
          h3.author-name {
            margin-bottom: 0.1em;
            font-size: 1.6rem;
          }
        }

        /* -- share button [desktop] -- */
        button.share-btn#details-inactive-share {
          margin-left: auto;
          margin-right: 0;
          display: inline-block;
        }

        button.share-btn#details-active-share {
          margin-left: auto;
          margin-right: 0;
          background-color: var(--color-very-dark-blue);
          display: none;
        }
      }
    }

    /* -- share links [desktop] -- */
    section.share-links {
      position: absolute;
      right: calc((1vw - 70px));
      bottom: 90px;

      width: 248px;
      height: 55px;
      border-radius: 10px;
      background-color: var(--color-very-dark-blue);

      display: none;
      align-items: center;

      h3.share-title {
        margin-left: 15%;
        margin-right: 7%;
        color: var(--color-grayish-blue);
        font-size: inherit;
        font-weight: 500;
        letter-spacing: 5px;
        text-transform: uppercase;
      }

      a.social-icon {
        margin-right: 6%;
        border: none;
        background-color: transparent;
        color: var(--color-white);
      }

      button.share-btn#links-active-share {
        display: none;
      }

      /* small square rotated 45 degrees [desktop only] */
      div.square {
        width: 2.2rem;
        height: 2.2rem;
        background-color: var(--color-very-dark-blue);
        transform: rotate(45deg);
        position: absolute;
        right: 11rem;
        bottom: -1rem;
      }
    }
  }
}
